.App {
  text-align: left;
}
.destiny-box {
  min-Height: 80;
  max-width: 400;
}

.btnAdd {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  display: block;
  background: #1294eb;
  text-decoration: none;
  height: 30px;
  width: 30px;
  padding: 0px;

}

.btnAdd:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.tokens  {
    width:  60;
    height: 60;
    padding: 4;
}
