body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: block;
  text-align: left;
}
.destiny-box {
  min-Height: 80px;
  max-width: 400;
}

.btnAdd {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  display: block;
  background: #1294eb;
  text-decoration: none;
  height: 30px;
  width: 30px;
  padding: 0px;

}

.btnAdd:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.tokens  {
    width:  60;
    height: 60;
    padding: 4;
}

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin-left: 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
