.mm-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: auto;
    display: none;
    background: rgba(0, 0, 0, .1);
    font: normal Tahoma, Geneva, sans-serif;

}

.mm-popup--visible {
    display: block;
}

    .mm-popup__close {
        position: absolute;
        top: 15px;
        right: 20px;
        padding: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        outline: none;
        text-align: center;
        border-radius: 10px;
        border: none;
        text-indent: -9999px;
        background: transparent url('/images/x.png') no-repeat center center;
        background-size: 100%;
        margin: 0;
    }

    .mm-popup__input {
        display: block;
        width: 100%;
        height: 30px;
        border-radius: 3px;
        background: #f5f5f5;
        border: 1px solid #e9ebec;
        outline: none;
        -moz-box-sizing: border-box !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        font-size: 14px;
        padding: 0 12px;
        color: #808080;
    }

    .mm-popup__btn {
        border-radius: 3px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 10px;
        margin: 0;
        line-height: 32px;
        height: 32px;
        width: 90px;
        border: 1px solid #666;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        color: #333;
        background: transparent;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        font: normal Tahoma, Geneva, sans-serif;
    }

    .mm-popup__btn--success {
        background-color: #27ae60;
        border-color: #27ae60;
        color: #fff;
    }

    .mm-popup__btn--setback {
        background-color: #000000;
        color: #ffffff;
    }

    .mm-popup__btn--bonus {
        background-color: #73cbd9;
        color: #000000;
    }

    .mm-popup__btn--upgrade {
        background-color: #ffee00;
        color: #000000;
    }

    .mm-popup__btn--downgrade {
        background-color: #eb2327;
        color: #000000;
    }

    .mm-popup__btn--danger {
        background-color: #c5545c;
        border-color: #c5545c;
        color: #fff;
    }

    .mm-popup__box {
        width: 350px;
        position: absolute;
        top: 10%;
        left: 50%;
        margin-left: -175px;
        background: #F7F7F7;
        box-shadow: 0px 5px 20px 0px rgba(126,137,140,0.20);
        border-radius: 5px;
        border: 1px solid #B8C8CC;
        overflow: hidden;
        z-index: 100;
    }

        .mm-popup__box__header {
            padding: 15px 20px;
            background: #1294eb;
            color: #FFFFFF;
        }

            .mm-popup__box__header__title {
                margin: 0;
                font-size: 16px;
                text-align: left;
                font-weight: 600;
            }

        .mm-popup__box__body {
            padding: 20px;
            line-height: 1.4;
            font-size: 14px;
            color: #454B4D;
            background: #F7F7F7;
            position: relative;
            z-index: 2;
        }

            .mm-popup__box__body p {
                margin: 0 0 5px;
            }

        .mm-popup__box__footer {
            overflow: hidden;
            padding: 40px 20px 20px;
        }

            .mm-popup__box__footer__right-space {
                float: left;
            }

                .mm-popup__box__footer__right-space .mm-popup__btn {
                    margin-left: 5px;
                    margin-top: 10px;


                }

            .mm-popup__box__footer__left-space {
                float: left;
            }

                .mm-popup__box__footer__left-space .mm-popup__btn {
                    margin-left: 5px;
                    margin-top: 10px;


                }

    .mm-popup__box--initiative {
        width: 330px;
        position: absolute;
        top: 110px;
        left: 220px;
    }

    .mm-popup__box--character {
        max-width: 330px;
        position: absolute;
        top: 60px;
        left: 750px;
    }

    .mm-popup__box--messages {
        max-width: 330px;
        position: absolute;
        top: 400px;
        left: 400px;
    }

    .mm-popup__box--chat {
        max-width: 330px;
        position: absolute;
        top: 300px;
        left: 750px;
    }


    .mm-popup__box--popover {
        width: 300px;
        margin-left: -150px;
    }

        .mm-popup__box--popover .mm-popup__close {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 0;
            width: 20px;
            height: 20px;
            cursor: pointer;
            outline: none;
            text-align: center;
            border-radius: 1px;
            border: none;
            text-indent: -9999px;
            background: transparent url('/images/x.png') no-repeat center center;
            background-size: 100%;
            margin: 0;
            z-index: 3;
        }

        .mm-popup__box--popover .mm-popup__box__body {
            padding: 20px;
        }

@media (max-width: 420px) {
    .mm-popup__box {
        width: 300px;
        left: 10px;
        right: 10px;
        top: 10px;
        margin-left: 0;
    }

    .mm-popup__box__footer__left-space {
        float: none;
    }

    .mm-popup__box__footer__right-space {
        float: none;
    }

    .mm-popup__box__footer {
        padding-top: 30px;
    }

    .mm-popup__box__footer .mm-popup__btn {
        display: block;
        width: 95%;
        text-align: center;
        margin-top: 10px;
    }
    .mm-popup__box--initiative {
        position: absolute;
        top: 30px;
    }

    .mm-popup__box--character {
        width: 330px;
        position: absolute;
        top: 10px;
        left: 560px;
    }

    .mm-popup__box--messages {
        position: absolute;
        top: 400px;
        left: 150px
    }

    .mm-popup__box--chat {
        width: 330px;
        position: absolute;
        top: 300px;
        left: 550px;
    }
}
